html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Add padding to form input elements */
.navbar-brand {
    line-height: 0.3;  
    font-size: 1rem; 
    display: inline-block;
    vertical-align: middle;
    background-color: #074a91;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}
.control-label {
    font-weight: bold;
    padding-top: 10px;
}
.form-group {
    margin: 15px;
}
.form-control,
input[type="text"],
input[type="number"],
input[type="search"],
input[type="date"],
select,
textarea {
  padding: 8px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
